.bi-info-card.el-card{
  border-radius:0;
  border-color: #dcdfe6;
  margin-bottom: 20px;
  .el-card__header{
    padding:0 10px;
    border-color:#dcdfe6;
  }
  .el-tabs__item{
    padding: 0 10px;
  }
  .el-tabs__nav-wrap::after{
    background-color: transparent;
  }
  .el-tabs__item.is-active{
    color:#c43233;
  }
  .el-tabs__active-bar{
    background-color:#c43233;
    bottom: 7px;
  }
  .el-tabs__item:hover{
    color:#c43233;
  }
  .el-tabs__nav-next, .el-tabs__nav-prev{
    color:#303133;
  }
  .info-header{
    padding: 0;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 40px;
    display: flex;
    justify-content: space-between;
    .info-title{
      white-space: nowrap;
      color:#212529;
      display:inline-block;
      padding-left: 10px;
    }
    .info-tab-wrap{
      display:flex;
      justify-content: flex-end;

    }
  }
  .el-card__body{
    padding:0;
  }
  .infocard-more{
    height: 40px;
    line-height: 40px;
    padding-right: 20px;
    text-align: right;
    span{
      color:#606266;
      display:inline-block;
      cursor: pointer;
      font-size: 14px;
    }
  }
  .infocard-content{
    .card-row{
      display:flex;
      justify-content: space-between;
      height: 40px;
      line-height: 40px;
      font-size: 14px;
      box-sizing: border-box;
      padding: 0 10px;
      cursor: pointer;
      .title{
        color:#303133;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .time{
        color:909099;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      &:nth-child(2n){
        background-color: #f8f8f9;
      }
    }
    .gray-color{
       .title{
        color:#909999
       }
       .time{
        color:#909999
       }
    }
  }
  .el-scrollbar__wrap{
    height:calc(100% + 17px)
  }
  .el-loading-spinner .path{
      stroke:#c43233;
  }
}
.bi-info-card.bi-info-card.el-card.content-border{
  border:none;
  .infocard-content .card-row{
    // border:1px solid #dcdfe6;
    // border-top:none;
    border-bottom:1px solid #dcdfe6;
  }
  .infocard-more{
    border:1px solid #dcdfe6;
    border-top:none;
  }
  .el-card__header{
    padding:0;
    .info-title{
      padding-left:0;
    }
  }
  .infocard-content{
    border-left:1px solid #dcdfe6;
    border-right:1px solid #dcdfe6;
  }
  .empty-text{
    width: 100%;
    text-align: center;
    color:#909399;
    position:absolute;
    top: 50%;
    padding:0;
    margin:0;
  }
}