.bi-news-dialog {
  .el-dialog {
    border-radius: 0;
  }
  .el-dialog--center .el-dialog__body {
    padding: 0;
  }
  .el-dialog__header {
    padding: 0;
  }
  .dialog-header {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    font-size: 14px;
    color: #606266;
    background-color: #f5f7fa;
    box-sizing: border-box;
    .left {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 70%;
      span {
        margin-right: 10px;
      }
    }
    .gray {
      color: #303133;
    }
    .right {
      .close-img {
        width: 11px;
        height: 11px;
        cursor: pointer;
        margin-left: 20px;
      }
    }
  }
  .dialog-content {
    padding-left: 80px;
    padding-right: 80px;
    box-sizing: border-box;
    .title {
      position: relative;
      width: 100%;
      min-height: 30px;
      text-align: center;
      color: #212529;
      font-size: 14px;
      font-weight: 700;
      line-height: 30px;
      margin: 15px 0;
      margin-top: 15px;
      span {
        width: 85%;
        display: inline-block;
        text-align: center;
        line-height: 1.2;
        font-size: 16px;
        font-weight: 700;
      }
      .operation {
        position: absolute;
        width: 100%;
        top: 50%;
        right: 0px;
        transform: translateY(-50%);
        display: flex;
        justify-content: flex-end;
        .star {
          width: 20px;
          height: 20px;
          cursor: pointer;
          float: right;
        }
        .share {
          width: 20px;
          height: 20px;
          cursor: pointer;
          float: right;
          margin-right: 16px;
          transform: translateY(1px);
        }
      }
    }
    .source {
      color: #909399;
      font-size: 12px;
      text-align: center;
      margin-bottom: 16px;
      margin-top: -8px;
      span {
        margin-right: 20px;
      }
    }
    .content-top {
      min-height: 70px;
    }
    .content {
      text-align: justify;
      height: 400px;
      // height: 100px;
      width: 100%;
      // padding-right: 20px;
      box-sizing: border-box;
      overflow-y: scroll;
      overflow-x: hidden;
      padding-bottom: 20px;
      &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: rgba(144, 147, 153, 0.5);
        border-radius: 10px;
        transition: all 0.2s ease-in-out;
      }
      &::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: transparent;
      }
      p {
        line-height: 1.6;
      }
      .table-parent {
        position: relative;
        padding-top: 32px;
        .export-table {
          font-weight: 500;
          line-height: 28px;
          padding: 0px 6px;
          font-size: 14px;
          color: #75777b;
          border: 1px solid #c4c4c4;
          background-color: #f8f8f9;
          display: inline-block;
          cursor: pointer;
          display: none;
          margin-bottom: 4px;
          position: absolute;
          top: 0;
          left: 0;
        }
        &:hover {
          .export-table {
            display: inline-block;
          }
        }
      }
    }
  }
  .bottom-wrap {
    min-height: 110px;
  }
  .haspre {
    min-height: 180px;
  }
  .tips {
    color: #909399;
    text-align: center;
    line-height: 2.6;
    padding: 0;
    margin: 0;
  }
  .next-pre {
    background-color: #f5f7fa;
    .pre-next {
      width: 100%;
      padding-left: 78px;
      box-sizing: border-box;
      padding-top: 12px;
      padding-bottom: 12px;
      .link {
        line-height: 24px;
        font-size: 14px;
        color: #606266;
        width: 100%;
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        .triangle-up {
          width: 0px;
          height: 0px;
          border: 6px solid #909399;
          border-color: transparent transparent #909399 transparent;
          transform: translateY(-2px);
          display: inline-block;
          cursor: not-allowed;
        }
        .triangle-down {
          width: 0px;
          height: 0px;
          border: 6px solid #909399;
          border-color: #909399 transparent transparent transparent;
          transform: translateY(4px);
          display: inline-block;
          cursor: not-allowed;
        }
        span:hover {
          text-decoration: underline;
          cursor: pointer;
          .triangle-up {
            border-color: transparent transparent #c43233 transparent;
          }
          .triangle-down {
            border-color: #c43233 transparent transparent transparent;
          }
        }
        &:not(.gray):hover {
          color: #c43233;
          .triangle-up {
            border-color: transparent transparent #c43233 transparent;
          }
          .triangle-down {
            border-color: #c43233 transparent transparent transparent;
          }
        }
      }
      .gray {
        color: #909399;
        pointer-events: none;
        span:hover {
          text-decoration: none;
          cursor: no-drop;
        }
      }
    }
    .footer-placeholder {
      border-top: 1px solid #dcdfe6;
      width: 100%;
      height: 73px;
    }
  }
  .dialog-footer {
    position: relative;
    .close-btn {
      text-align: center;
      position: absolute;
      top: 18px;
      left: 50%;
      transform: translateX(-50%);
      span {
        width: 90px;
        height: 36px;
        background: #c43233;
        color: #ffffff;
        font-size: 14px;
        line-height: 36px;
        display: inline-block;
        cursor: pointer;
        &:hover {
          background-color: #d33e3f;
        }
      }
    }
  }
}
